<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-poc-signalr-vse-ne.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3a6d7f25-fdd2-40d1-81c3-eb6128fea021/resourceGroups/rg-poc-signalr-vse-ne/providers/Microsoft.Web/sites/func-poc-signalr-vse-ne</ResourceId>
    <UserName>$func-poc-signalr-vse-ne</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-poc-signalr-vse-ne.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>